.btn-social.weibo:before {
  font-family: FontAwesome;
  content: "\f18a";
}
.btn-social.douban:before {
  content: "豆";
}
.btn-social.qq_connect:before {
  font-family: FontAwesome;
  content: "\f1d6";
}
.btn-social.renren:before {
  font-family: FontAwesome;
  content: "\f18b";
}
